<ul id="navigation">
				<li class="current">
					<a href="{{path('index')}}" class="link1">Home</a>
				</li>
				<li>
					<a href="{{path('surfbase')}}" class="link2">Surf Base</a>
				</li>
				<li>
					<a href="{{path('newsblog')}}" class="link1">News &amp; Blog</a>
				</li>
				<li>
					<a href="{{path('about')}}" class="link2">About</a>
				</li>
				<li>
					<a href="{{path('contact')}}" class="link1">Contact</a>
				</li>
</ul>