{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div id="register">
    <div class="container">
    <center>
        <h1>Register</h1>
        <br>

        {{ form_start(registrationForm) }}
        <br>
            {{ form_row(registrationForm.email,  {'attr': {'class':'form-control'}}) }}
            <br>
             {{ form_row(registrationForm.name,  {'attr': {'class':'form-control'}}) }}
            <br>
            {{ form_row(registrationForm.plainPassword,  {'attr': {'class':'form-control'}}, {
                label: 'Password'
            }) }}
            <br>
            {{ form_row(registrationForm.agreeTerms) }}
            <br>
            <button type="submit" class="pull-right btn btn-lg sr-button">Register</button>
        {{ form_end(registrationForm) }}
    </center>
    </div>
</div>
{% endblock %}

