{% extends 'base.html.twig' %}
{% block title %}Index{% endblock %}
{% block body %}

			<div id="contact">
				<h2>We want to hear from you!</h2>
				<h3>Free Website Templates</h3>
				<p>
					This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us. If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
				</p>
				<div>
					<div>
						<h3>Contact Details</h3>
						<ul>
							<li>
								<span>Location</span>
								<p>
									This is just a place holder, so you can see what the site would look like
								</p>
							</li>
							<li>
								<span>Email</span>
								<p>
									<a href="http://www.freewebsitetemplates.com/misc/contact" target="_blank">freewebsitetemplates.com</a>
								</p>
							</li>
							<li>
								<span>Phone</span>
								<p>
									(987) 654 321 000
								</p>
								<p>
									(123) 000 456 789
								</p>
								<p>
									(987) 654 321 000
								</p>
							</li>
						</ul>
					</div>
					{{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}
					{{ form_errors(form) }}
						<div class="form-group">
							<div class="col-xs-6">
								{{ form_row(form.name, {'attr': {'class':'form-control'}}) }}
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								{{ form_row(form.email, {'attr': {'class':'form-control'}}) }}
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								{{ form_row(form.message, {'attr': {'class':'form-control'}}) }}
								{{ form_row(form.Send, {'attr': {'class':'pull-right btn btn-lg sr-button'}}) }}
							</div>
						</div>
					{{ form_end(form) }}
				</div>
			</div>

{% endblock %}