{% extends 'base.html.twig' %}
{% block title %}Index{% endblock %}
{% block body %}

		<div>
			<div id="home">
				<h1><span>Best Surfing</span></h1>
				<h2>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.</h2>
				<div class="section">
					<a href="surfbase.html">Go To <span>Surf Base</span></a>
				</div>
				<div class="news">
					<h3>News &amp; Blog</h3>
					<a href="newsblog.html" class="figure"><img src="images/surfing2.png" alt="Image"></a>
					<div>
						<h4><a href="newsblog.html">This is just a place holder</a></h4>
						<p>
							This website template is for free. This is just a place holder, so you can see what the site would look like. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. <a href="newsblog.html" class="more">(more)</a>
						</p>
					</div>
				</div>
			</div>
			<div class="table-responsive">
			<table class="table text-center">
				<thead>
				<tr>
				{% for category in categories %}
					<td><a class="link {{loop.first ? 'active' : ''}}" href="#category{{category.id}}" data-toggle="tab">{{category.name}}</a></td>
				{% endfor %}
				</tr>
				</thead>
			</table>
			<hr>
			</div>
			<nav class="text-center">
				<ul class="pagination">
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#" aria-label="suivant">
					<span aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav>
			<div class="tab-content">
			{% for category in categories %}
				<div id="category{{category.id}}" class="tab-pane {{loop.first ? 'active' : ''}}" >
				<div class="row popup-gallery">
				{% for image in category.images %}
				{{ include ('partials/_image.html.twig')}}
				{% endfor %}
					</div>
				</div>
			{% endfor %}

		</div>

{% endblock %}